<div class="container">

    <div class="col-md-6 col-md-offset-3 loginBox">
        <h3>Registrar nuevo trabajador</h3>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="mb-3 form-group">
                <label>Cédula</label>
                <input type="text" formControlName="id" class="form-control" placeholder="Cédula del trabajador">
            </div>
            <div class="mb-3 form-group">
                <label>Nombre</label>
                <input type="text" formControlName="nombre" class="form-control" placeholder="Nombre del trabajador">
            </div>
            <div class="mb-3 form-group">
                <label>Primer Apellido</label>
                <input type="text" formControlName="apellido1" class="form-control"
                    placeholder="Primer apellido del trabajador">
            </div>
            <div class="mb-3 form-group">
                <label>Segundo Apellido</label>
                <input type="text" formControlName="apellido2" class="form-control"
                    placeholder="Segundo apellido del trabajador">
            </div>

            <div class="mb-3 form-group">
                <label for="exampleInputPassword1">Contraseña</label>
                <input type="password" formControlName="password" class="form-control" placeholder="Contraseña">
            </div>
            <div class="mb-3 form-group">
                <label for="exampleInputPassword1">Rol</label>

                <select class="custom-select mb-3 form-select" (change)="changeRole($event)" formControlName="rol">
                    <option value="">Escoja rol a desempeñar</option>
                    <option *ngFor="let role of roles" [value]="role">
                        {{ role }}
                    </option>
                </select>

            </div>
            <ng-container *ngIf="this.message">
                <p>
                    {{this.message}}
                </p>
            </ng-container>
            <button type="submit" class="btn btn-primary">Registrar</button>
        </form>
    </div>
</div>