<div>
    <div class="col-md-6">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Serial No.</th>
                    <th>Horas de Uso</th>
                    <th>Modelo</th>
                </tr>
            </thead>
            <tbody>
                <!--
                    {users.map(user => (
                    <tr key={user._id}>
                        <td>{user.name}</td>
                        <td>{user.username}</td>
                        <td>{user.access}</td>
                        <td>{user.password}</td>
                        <td>
                            <div class="container">
                                <div class="row">
                                    <button type="button"
                                        class="col btn btn-secondary "
                                        onClick={(e) => editUser(user._id)}
                                    >
                                        Editar
                                    </button>
                                    <button type="button"
                                        class="col btn btn-warning "
                                        onClick={(e) => resetPassword(user._id)}
                                    >
                                        Resetear Contraseña
                                    </button>
                                </div>
                                <div class="row">
                                    <button type="button"
                                        class="btn btn-danger"
                                        onClick={(e) => deleteUser(user._id)}
                                    >
                                        Eliminar
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    ))}> 
                -->
            </tbody>
        </table>
    </div> 
</div>
