<div>
    <div class="col-md-6">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Capacidad</th>
                        <th>Seccion de Bodega</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let plane_type of plane_types" >
                        <td>{{plane_type.nombre}}</td>
                        <td>{{plane_type.capacidad}}</td>
                        <td>{{plane_type.secciones_bodega}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div> 
</div>
