<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 loginBox">
            <h3>Registrar nuevo usuario</h3>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="mb-3 form-group">
                    <label>Cédula</label>
                    <input type="text" formControlName="id" class="form-control" placeholder="Cédula del trabajador">
                </div>
                <div class="mb-3 form-group">
                    <label>Nombre</label>
                    <input type="text" formControlName="nombre" class="form-control"
                        placeholder="Nombre del trabajador">
                </div>
                <div class="mb-3 form-group">
                    <label>Primer Apellido</label>
                    <input type="text" formControlName="apellido1" class="form-control"
                        placeholder="Primer apellido del trabajador">
                </div>
                <div class="mb-3 form-group">
                    <label>Segundo Apellido</label>
                    <input type="text" formControlName="apellido2" class="form-control"
                        placeholder="Segundo apellido del trabajador">
                </div>

                <div class="mb-3 form-group">
                    <label for="exampleInputPassword1">Contraseña</label>
                    <input type="password" formControlName="password" class="form-control" placeholder="Contraseña">
                </div>

                <div class="mb-3 form-group">
                    <label for="exampleInputPassword1">Teléfono</label>
                    <input type="text" formControlName="telefono" class="form-control" placeholder="Teléfono">
                </div>

                <ng-container *ngIf="this.message">
                    <p>
                        {{this.message}}
                    </p>
                </ng-container>

                <button type="submit" class="btn btn-primary">Registrar</button>
            </form>
        </div>
        <div class="col-md-6 col-md-offset-3">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Cédula</th>
                            <th>Contraseña Hash</th>
                            <th>Nombre</th>
                            <th>Primer Apellido</th>
                            <th>Segundo Apellido</th>
                            <th>Teléfono</th>
                        </tr>
                    </thead>
                        
                    <tbody>
                        <tr *ngFor="let users of users_list">
                            <td>{{users.cedula}}</td>
                            <td>{{users.password_hash}}</td>
                            <td>{{users.nombre}}</td>
                            <td>{{users.primer_apellido}}</td>
                            <td>{{users.segundo_apellido}}</td>
                            <td>{{users.telefono}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
